.characters {
    display: grid;
    margin: 15vh calc((100vw - 1000px)/2);
    /*grid-template-columns: 200px 200px 200px 200px 200px;*/
    /*grid-template-rows: 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px;*/
    /*margin-top: 15vh;*/
}

.bar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    font-family: 'Indie Flower', cursive;
    background-color: #1f1f14;
    color: white;
    text-align: center;
    z-index: 5;
}

.item {
    border: solid white;
    overflow-x: hidden;
    overflow-y: hidden;
}
.item.ancho{
    max-height: 200px;
}
.item.ancho img, .item.ancho{
    max-width: 400px;
}
.item.alto{
    max-width: 200px;
}
.item.alto img, .item.alto{
    max-height: 400px;
}
.item.cuadro{
    max-width: 200px;
    max-height: 200px;
}
.item.cuadro img, .item.cuadro{
    max-width: 200px;
    max-height: 200px;
}

.item .title{
    position: sticky;
    bottom: 0;
    right: 0;
    background-color: #FCF03F;
    /*text-align: right;*/
    width: fit-content;
    z-index: 0;
    font-family: 'Indie Flower', cursive;
}